body  {
  background-color: #000000;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  color: white;
  background-image: url(gettyimages-472612375-640x640.jpg);
}
h1  {
  text-align: left;
}
p  {
  color: #FFD700;
  font-size: 20px;
}
navbar {
            background-color: white;
            overflow: hidden;
        }
        .navbar a {
            float: left;
            display: block;
            color: white;
            text-align: center;
            padding: 14px 20px;
            text-decoration: none;
            font-size: 20px;
            border-radius: 15px;
        }
        .navbar a:hover {
            background-color: #ddd;
            color: black;
        }
